.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media only screen and (max-width: 991px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
